{
  "singleQuote": true,
  "importOrderParserPlugins" : ["classProperties", "typescript","[\"decorators\", { \"decoratorsBeforeExport\": true }]"],
  "importOrder": ["^@angular/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
